<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flask Forms</title>
  </head>

  <body>
    <fieldset>
      <legend>>Please sign in</legend>
    <form>
      <label>Email</label>
      <input type="email" required maxlength="3" placeholder="digite um email válido">
      <br>
      <label>Password</label>
      <input type="password" placeholder="Password" required>
      <div>
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button type="submit">Sign in</button>
      <p>2021</p>
    </form>
  </fieldset>
  </body>
</html>
